{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-top-info">
        <div class="container">
        <h4 class="text-center">Nouvel arrivage</h4>
        </div>
    </div>
    <div class="spad">
        <div class="container mb-5 border border-dark rounded">
            <div class="container mb-5 mt-3 form-group">
            <label for="sellerId">Choisir client: </label>
                <input list="users" name="users" id="sellerId">
                <datalist id="users">
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.nom }} {{ user.prenom }}</option>
                    {% endfor %}
                </datalist>
            </div>
            <div class="row justify-content-around">
                <div class="column text-right">
                    <div class="form-group">
                        <label for="nomClient">Nom: </label>
                        <input type="text" name="nomClient" id="nomClient">
                    </div>
                    <div class="form-group">
                        <label for="prenomClient">Prenom: </label>
                        <input type="text" name="prenomClient" id="prenomClient">
                    </div>
                    <div class="form-group">
                        <label for="telephone">Telephone: </label>
                        <input type="text" name="telephone" id="telephone">
                    </div>
                    <div class="form-group">
                        <label for="mail">Email: </label>
                        <input type="mail" name="email" id="mail">
                    </div>
                </div>
                <div class="column text-right">
                    <div class="form-group">
                        <label for="adresse">Adresse: </label>
                        <input type="text" name="adresse" id="adresse">
                    </div>
                    <div class="form-group">
                        <label for="codePostal">Code postal: </label>
                        <input type="text" name="codePostal" id="codePostal">
                    </div>
                    <div class="form-group">
                        <label for="ville">Ville: </label>
                        <input type="text" name="ville" id="ville">
                    </div>
                </div>
            </div>
        </div>
        <div class="container border border-dark rounded">
            <div class="form-group mb-5 mt-3">
                <label for="nomArrivage"> Nom de l'arrivage</label>
                <input type="text" name="nomArrivage" id="nomArrivage">
            </div>
            <table class="table table-hover table-sm" id="addCard">
                <thead>
                    <tr>
                        <th scope="col">Nom carte</th>
                        <th scope="col">Type</th>
                        <th scope="col">New</th>
                        <th scope="col">Correct</th>
                        <th scope="col">Occasion</th>
                        <th scope="col">Abimée</th>
                        <th scope="col">Achat</th>
                        <th scope="col">Coût</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot  class="text-right">
                    <tr>
                        <td colspan="8">
                            <button class="btn-success rounded" id="addMore"><i class="flaticon-add"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">Total HT</td>
                        <td colspan="2"><span id="totalHT">0.00</span> €</td>
                    </tr>
                    <tr>
                        <td colspan="6">TVA 0%</td>
                        <td colspan="2"><span>0.00</span> €</td>
                    </tr>
                    <tr>
                        <td colspan="6">Total TTC</td>
                        <td colspan="2"><span id="totalTTC">0.00</span> €</td>
                    </tr>
                </tfoot>
            </table>
            <button id="enregistrer" class="btn-primary rounded mb-5">Enregistrer</button>
        </div>
    </div>
{% endblock %}