{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-top-info">
        <div class="container">
        <h4 class="text-center">Liste des commandes</h4>
        </div>
    </div>
    <div class="container spad">
    </div>
{% endblock %}
