<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content=" Divisima | eCommerce Template">
        <meta name="keywords" content="divisima, eCommerce, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
       <header class="header-section" style="background-color: rgb(33,37,41);">
		<div class="header-top">
			<div class="container text-center">
				<h2 style="color: white;">Y C S</h2>
			</div>
		</div>
	</header>
    <main>
    <div class="my-5">
        <div class="container">
            <h2>Bienvenue {{ user.prenom }} {{ user.nom }}!</h2>
            <p>Nous avons bien reçu votre demande d'inscription.</p>
            <p>Pour la finaliser, suivez ce <a href="{{url('validationCompte',{token:user.codeValidation} )}}">lien</a>.</p>
        </div>
    </div>
    </main>
	<footer class="footer-section" style="background-color: rgb(33,37,41);">
		<div class="container">
            <div>
                <div class="footer-widget contact-widget text-center" style="color: white;">
                    <h2>Infos pratiques</h2>
                    <div class="con-info">
                        <span>Nom vendeur</span>
                        <p>Alexandre Gaillot</p>
                    </div>
                    <div class="con-info">
                        <span>Adresse</span>
                        <p>1 rue du Fossé Mignard 77700 Chessy</p>
                    </div>
                    <div class="con-info">
                        <span>Téléphone</span>
                        <p>+33(0) 625566616</p>
                    </div>
                    <div class="con-info">
                        <span>Mail</span>
                        <p>contact@ycs.fr</p>
                    </div>
                </div>
            </div>
		</div>
	</footer>
    </body>
</html>