{% extends "base.html.twig" %}

{% block title %}YCS: Merci pour votre commande de cartes yugioh{% endblock title %}
{% block description %}Page de remerciement de la commande de cartes yugioh.{% endblock description %}

{% block body %}
<div class="container spad">
<h1 class="h2">Merci pour votre commande!</h1>
<p class="mt-3 h4">Vous allez prochainement recevoir un mail de confirmation de votre commande. Surveillez votre boite mail ainsi que vos spams.</p>

<ul class="mt-3">
    <li>Si vous avez sélectionné le paiement par Paypal, vous pouvez l'effectuer dès maintenant en cliquant <a href="https://paypal.me/alexgaill?locale.x=fr_FR" target="_blank">ici</a>. Votre commande partira directement à réception du paiement.</li>
    <li>Si vous avez choisi de régler par chèque, la livraison partira dès encaissement du chèque.<p>Merci d'adresser votre chèque à l'ordre d'Alexandre Gaillot, 1 rue du Fossé Mignard, 77700 Chessy en indiquant votre n° de commande.</p></li>
    <li>Pour toute remise en main propre, nous vous contacterons rapidement afin de convenir d'un rendez-vous.</li>
</ul>

</div>

{% endblock %}