{% extends 'base.html.twig' %}

{% block body %}
    {% if modifyPassword == false %}
        <div class="container spad text-center">
            {% if notSame %}
                    <p class="text-danger">Les deux mots de passe ne correspondent pas</p>
            {% endif %}
            <div class="jumbotron col-6 mx-auto">
                <h4>Création d'une nouveau mot de passe</h4>
                <form action="{{ path('backupPassword', {token: token}) }}" method="POST">
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Saisissez votre mot de passe">
                    </div>
                    <div class="form-group">
                        <input type="password" name="passwordVerify" placeholder="Saisissez à nouveau votre mot de passe">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <div class="container spad">
            <h2>Mot de passe mis à jour</h2>
            <p>Votre mot de passe a été mis à jour. Connectez-vous dès maintenant.</p>
        </div>
    {% endif %}
{% endblock %}