{% extends 'base.html.twig' %}

{% block body %}
    <div class="container spad">
        <h2>Votre compte a été créé avec succés!</h2>
        <p class="mt-3">Vous allez prochainement recevoir un mail d'activation. Pensez à regarder vos spams si vous ne le voyez pas.</p>
    </div>
{% endblock %}