{% extends 'base.html.twig' %}

{% block body %}
    {% if sendMessage == false %}
        <div class="container spad text-center">
            {% if message %}
                    <p class="text-danger">Cet email est invalide</p>
            {% endif %}
            <div class="jumbotron col-5 mx-auto">
                <h3>Récupération de mot de passe</h3>
                <form action="{{ path('forgetPassword') }}" method="POST">
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Saisissez votre adresse Mail">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <div class="container spad">
            <h2>Mail de réinitialisation envoyé</h2>
            <p>Vous allez recevoir un mail pour réinitialiser votre mot de passe. Consultez vos spams si vous ne le trouvez pas.</p>
        </div>
    {% endif %}
{% endblock %}